/* Grid */
.layout {
  /* Set your own grid   */
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
/* Widgets */
section {
  background: black;
  border: 10px solid skyblue;
  padding: 1em;

  /* Relative Parent. Absolute Child */
  position: relative;
}

/* Time */
.time {
  color: white;
  text-align: center;
  font-family: "Courier New", monospace;
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
}

/* Date */
.date {
  color: white;
  text-align: center;
  font-family: "Courier New", monospace;
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  color: white;
  width: 193%;
  text-align: center;
  font-family: "Courier New", monospace;
}

.city {
  position: absolute;
}

.temp {
  position: absolute;
  padding-left: 4em;
}

.weather img {
  padding-top: 1em;
}